.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1300px ;
    grid-template-areas:
            'header header header'
            'nav content content';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    background-color: antiquewhite;
    grid-area: header;
}

header img {
    width: 90px;
}

.nav {
    background-color: cadetblue;
    grid-area: nav;
}

.content {
    background-color: coral;
    grid-area: content;

}
.img-city {
    width: 1070px;
    height: 100px;
}

.img-logo {
    width: 250px;
}
