
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems  {
    padding: 10px;
}

.dialogsItems .active {
    color: darkgreen;
}
.dialog a{
    color: white;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.dialog {
    line-height: 60px;

}

.imgUser {
    width: 40px;
    border-radius: 20px;
}
